<div class="modal-body wrapper-lg">
  <div class="row">
      <p>New User</p>
      <form role="form form-validation">
        <div class="text-danger wrapper text-center" ng-show="formError">
          {{formError}}
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">UserName</label>
          <div class="col-sm-10">
            <select ui-jq="chosen" multiple class="w-md" ng-model="selected.Users" ng-options="User.Username for User in Users">
               <!-- <option ng-repeat="User in Users">{{User.Username}}</option> -->
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Role</label>
          <div class="col-sm-10">
            <select ui-jq="chosen" class="w-md" ng-model="selected.Role" ng-options="role.Name for role in roles">
            </select>
          </div>
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Log in</strong></button>
          <button class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>cancel</strong></button>
        </div>
      </form>
  
  </div>
</div>