<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="DockerContainersCtrl">
  <div class="col w b-r" ng-repeat="idx in count" ng-show="isShow(idx)">
    <div class="vbox">
      <div class="wrapper-sm b-b" ng-hide="isShow(0)">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnUpper(idx)">返回</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in services[idx] | filter:{Code:filter[idx-1]}" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectService(item,idx)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.Code}}</span>
              </a>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(services[idx] | filter:{Code:filter[idx-1]}).length" translate="content.management.no_subbus">No Service found</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->



  <!-- column -->
  <div class="col bg-white-only" ng-hide="selectedIdc">
    <div class="row-row" ng-show="ConfShow()">
      <div class="panel panel-default"ng-repeat="idc in idcs">
        <div class="panel-heading">
          {{selectedService.Name}} {{idc.IdcName}}机房容器状态
        </div>
        <div class="panel-body text-center">
          <div class="col-md-4">
            <h4><small>last </small>12<small> hrs</small></h4>
            <small class="text-muted block">yesterday: 20%</small>
              <div class="btn-group btn-group-justified">
                <a href class="btn btn-primary" ng-click="detail(idc)">detail</a>
              </div>
          </div>
          
          <div class="col-md-8">
            <div class="table-responsive">
              <table class="table table-striped b-t b-light">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Date</th>
                    <th style="width:30px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td>Idrawfast</td>
                    <td>4c</td>
                    <td>Jul 25, 2013</td>
                    <td>
                      <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col bg-white-only" ng-show="selectedIdc">
    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnIdc()">返回</a>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->