<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="DockerContainersCtrl">
  <script type="text/ng-template" id="scaleContianerModalContent.html">
    <div ng-include="'tpl/scale_container_modal.html'"></div>
  </script>
  <div class="col w b-r" ng-repeat="idx in count" ng-show="isShow(idx)">
    <div class="vbox">
      <div class="wrapper-sm b-b" ng-hide="isShow(0)">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnUpper(idx)">返回</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in services[idx] | filter:{Code:filter[idx-1]}" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectService(item,idx)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.Code}}</span>
              </a>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(services[idx] | filter:{Code:filter[idx-1]}).length" translate="content.management.no_subbus">No Service found</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->



  <!-- column -->
  <div class="col bg-white-only" ng-hide="selectedIdc">
    <div class="row-row" ng-show="ConfShow()">
      <div class="panel panel-default"ng-repeat="idc in idcs">
        <div class="panel-heading">
          {{selectedService.Name}} {{idc.IdcName}}机房容器状态
        </div>
        <div class="panel-body text-center">
          <div class="col-md-4">
            <h4><small>last </small>12<small> hrs</small></h4>
            <small class="text-muted block">yesterday: 20%</small>
              <div class="btn-group btn-group-justified">
                <a href class="btn btn-primary" ng-click="detail(idc)">detail</a>
              </div>
          </div>
          
          <div class="col-md-8">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col bg-white-only" ng-show="selectedIdc">
    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnIdc()">返回</a>
          <a class="btn btn-xs btn-default" ng-click="scaleContainer()">扩容</a>
        </div>
      </div>

    
    <!-- display weather forecast -->
    <div class="list-group no-border no-radius">
      <div class="list-group-item" ng-show="data.query.results.channel.item.forecast.length" ng-repeat="forecast in data.query.results.channel.item.forecast">
        <div class="hbox">
          <div class="col v-middle w-xxs">
            <span class="h4">{{forecast.day}}</span>           
          </div>
          <div class="col v-middle w-xxs">
            <skycon icon="forecast.icon" color="app.color.dark" size="32"></skycon>
          </div>
          <div class="col v-middle">
            {{forecast.text}} <span class="text-white">{{forecast.code}}</span>
          </div>
          <div class="col v-middle">
            {{forecast.high}}&deg; -  {{forecast.low}}&deg;
          </div>
          <div class="col v-middle text-right hidden-xs">                
            <small class="text-muted">{{forecast.date}}</small>
          </div>           
        </div>
      <h4 class="m-t-none m-b-lg"><span class="text-xs text-muted m-l pull-right">{{ data.query.results.channel.item.condition.date }}</span>{{place.city}}, {{place.country}}</h4>
      <div class="hbox">
        <div class="col v-middle w-sm">
          <skycon icon="data.query.results.channel.item.condition.icon" color="#fff" size="128" id=""></skycon>
        </div>
        <div class="col v-middle">
          <div class="h1">
            <span class="text-2x text-white">{{ data.query.results.channel.item.condition.temp }}&deg;</span>            
          </div>
          <span class="text-muted">{{ data.query.results.channel.item.condition.text }} - Feels like {{ data.query.results.channel.item.condition.temp }}&deg;</span>
        </div>
      </div>
      </div>
<!--
    <div class="wrapper-lg clearfix bg-info dker" ng-show="data.query.results">
      <h4 class="m-t-none m-b-lg"><span class="text-xs text-muted m-l pull-right">{{ data.query.results.channel.item.condition.date }}</span>{{place.city}}, {{place.country}}</h4>
      <div class="hbox">
        <div class="col v-middle w-sm">
          <skycon icon="data.query.results.channel.item.condition.icon" color="#fff" size="128" id=""></skycon>
        </div>
        <div class="col v-middle">
          <div class="h1">
            <span class="text-2x text-white">{{ data.query.results.channel.item.condition.temp }}&deg;</span>            
          </div>
          <span class="text-muted">{{ data.query.results.channel.item.condition.text }} - Feels like {{ data.query.results.channel.item.condition.temp }}&deg;</span>
        </div>
      </div>
    </div>
    -->
    </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->