<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="DockerContainersCtrl">
  <script type="text/ng-template" id="scaleContianerModalContent.html">
    <div ng-include="'tpl/scale_container_modal.html'"></div>
  </script>
  <div class="col w b-r" ng-repeat="idx in count" ng-show="isShow(idx)">
    <div class="vbox">
      <div class="wrapper-sm b-b" ng-hide="isShow(0)">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnUpper(idx)">返回</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in services[idx] | filter:{Code:filter[idx-1]}" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectService(item,idx)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.Code}}</span>
              </a>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(services[idx] | filter:{Code:filter[idx-1]}).length" translate="content.management.no_subbus">No Service found</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->



  <!-- column -->
  <div class="col bg-white-only" ng-hide="selectedIdc">
    <div class="row-row" ng-show="ConfShow()">
      <div class="panel panel-default"ng-repeat="idc in idcs">
        <div class="panel-heading">
          {{selectedService.Name}} {{idc.IdcName}}机房容器状态
        </div>
        <div class="panel-body text-center">
          <div class="col-md-6">
            <div class="text-center wrapper m-b-sm">              
              <div ng-init="data = [55, 30, 15] " ui-refresh="data" ui-jq="sparkline" ui-options="
              {{data}}, 
              {
                type:'pie', 
                height:126, 
                sliceColors:['{{app.color.primary}}','{{app.color.info}}','{{app.color.warning}}']
              }
              " class="sparkline inline"></div>
            </div>
            <ul class="list-group no-radius">
              <li class="list-group-item">
                <span class="pull-right">45,000</span>
                <span class="label bg-primary">1</span>
                .inc company
              </li>
              <li class="list-group-item">
                <span class="pull-right">23,200</span>
                <span class="label bg-info">2</span>
                Gamecorp
              </li>
              <li class="list-group-item">
                <span class="pull-right">21,000</span>
                <span class="label bg-warning">3</span>
                Starup
              </li>
            </ul>
        
              <div class="btn-group btn-group-justified">
                <a href class="btn btn-primary" ng-click="detail(idc)">detail</a>
              </div>
          </div>
          
          <div class="col-md-6">
            
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col bg-white-only" ng-show="selectedIdc">
    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnIdc()">返回</a>
          <a class="btn btn-xs btn-default" ng-click="scaleContainer()">扩容</a>
        </div>
      </div>

     <div class="panel panel-default">
        <div class="panel-heading">
          容器列表
        </div>
        <div class="panel-body b-b b-light">
          Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
        </div>
        <div>
          <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
            <thead>
              <tr>
                  <th>
                      IP
                  </th>
                  <th>
                    Mac
                  </th>
                  <th>
                      Cpu
                  </th>
                  <th>
                      Mem
                  </th>
                  <th>
                      Disk
                  </th>
                  <th>
                      状态
                  </th>
                  <th>
                    操作
                  </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="instance in instances">
                  <td>{{instance.IpAddr}}</td>
                  <td>{{instance.MacAddr}}</td>
                  <td>{{instance.MarathonData.cpus}}</td>
                  <td>{{instance.MarathonData.mem}}</td>
                  <td>{{instance.MarathonData.disk}}</td>
                  <td><span class="label label-lg label-primary arrowed-in">运行中</span></td>
                  <td>        
                    <li class="dropdown" dropdown>
                        <a href class="dropdown-toggle" dropdown-toggle>
                          <i class="fa-chevron-down fa"></i>
                        </a>
                        <ul class="dropdown-menu fadeInRight">
                          <li>
                            <a href>重启</a>
                          </li>
                        </ul>
                  </li>
             </td>
                  <!-- <td><a class="blue" title="操作"><i class="fa-chevron-down fa"></i></a></td> -->
              </tr>
              </tbody>
              <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
              </tfoot>
            </table>
          </div> 
        </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->