<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="ManageMentUsersCtrl">



    <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in mainbuses|orderBy:'name'"  class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectMainBus(item)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.name ? item.name : 'Untitled' }}</span>
              </a>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="mainbuses.length" translate="content.management.no_mainbus">No MainBuses</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
 
  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in subbuses| filter:{mainbus:mainfilter}| orderBy:'name'" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectSubBus(item)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.name ? item.name : 'Untitled' }}</span>
              </a>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(subbuses | filter:{mainbus:mainfilter}).length" translate="content.management.no_subbus">No SubBus</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->


  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">

            <div class="wrapper-lg">
                    <table ui-jq="dataTable" ui-options="{
                        sAjaxSource: 'vendor/jquery/datatables/datatable.json',
                        aoColumns: [
                          { mData: 'engine' },
                          { mData: 'browser' },
                          { mData: 'platform' },
                          { mData: 'version' },
                          { mData: 'grade' }
                        ]
                      }" class="table table-striped m-b-none">
                      <thead>
                        <tr>
                          <th  style="width:20%">Rendering engine</th>
                          <th  style="width:25%">Browser</th>
                          <th  style="width:25%">Platform(s)</th>
                          <th  style="width:15%">Engine version</th>
                          <th  style="width:15%">CSS grade</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
              
            </div>
          </div>
        </div>
      </div>
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="deleteUser(item)"><i class="fa fa-times"></i></a>
          <a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="addUser(item)">Add</a>
          <a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="editUser(item)">Edit</a>
          <a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">Done</a>
        </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->