<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="ManageMentIDCsCtrl">
  <script type="text/ng-template" id="addIDCModalContent.html">
    <div ng-include="'tpl/add_idc_modal.html'"></div>
  </script>

  <script type="text/ng-template" id="addCidrModalContent.html">
    <div ng-include="'tpl/add_cidr_modal.html'"></div>
  </script>

  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in idcs|orderBy:'name'" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectIDC(item)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.IdcName}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t">
        <a href class="btn btn-sm btn-default" ng-click="createIDC()"><i class="fa fa-plus fa-fw m-r-xs"></i> New IDC</a>
      </div>
    </div>
  </div>
  <!-- /column --> 


  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-lg">
              <!-- fields -->
              <div class="form-horizontal">
                  <div class="panel panel-default ">
                    <div class=panel-heading>
                      <strong>MgrConf Base</strong>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                          <label>IdcName</label>
                          <input type="text" class="form-control"  placeholder="" ng-model="selectedidc.IdcName" required>
                        </div>
                        <div class="form-group">
                          <label>IdcCode</label>
                          <input type="text" class="form-control"  placeholder="" ng-model="selectedidc.IdcCode" required>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </footer>
                  </div>
                </div>
                  <div class="panel panel-default ">
                    <div class=panel-heading>
                      <strong>MarathonConf</strong>
                    </div>
                    <div class="panel-body">                    
                        <div class="form-group">
                            <label>Marathon Server</label>
                            <input type="text" class="form-control"  placeholder="http://127.0.0.1:8080" ng-model="selectedidc.MgrConf.MarathonSerConf.Server" required >
                        </div>
                        <div class="form-group">
                          <label>Marathon User</label>
                          <input type="text" class="form-control"   placeholder="Enter Marathon User" ng-model="selectedidc.MgrConf.MarathonSerConf.HttpBasicAuthUser" required >
                        </div>
                        
                        <div class="form-group">
                          <label>Marathon Password</label>
                          <input type="text" class="form-control"  placeholder="" ng-model="selectedidc.MgrConf.MarathonSerConf.HttpBasicPassword" required>
                        </div>
                        <div class="form-group">
                          <label>Marathon Template</label>
                          <textarea class="form-control" rows="6" placeholder="Type your message" ng-model="selectedidc.MgrConf.MarathonConfTemplate"></textarea>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </footer>
                  </div>
                   <div class="panel panel-default">
                    <div class=panel-heading>
                      <strong>RegistryConf</strong>
                    </div>
                    <div class="panel-body">                    
                        <div class="form-group">
                            <label>Registry Server</label>
                            <input type="text" class="form-control" placeholder="http://127.0.0.1:8080" ng-model="selectedidc.MgrConf.RegistryConf.Server" required >
                        </div>
                        <div class="form-group">
                          <label>Registry User</label>
                          <input type="text" class="form-control" placeholder="Enter Registry User" ng-model="selectedidc.MgrConf.RegistryConf.UserName" required >
                        </div>
                        
                        <div class="form-group">
                          <label>Registry Password</label>
                          <input type="text" class="form-control" placeholder="" ng-model="selectedidc.MgrConf.RegistryConf.Password" required>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </footer>
                  </div>
                   <div class="panel panel-default">
                    <div class=panel-heading>
                      <strong>Cidrs</strong>
                    </div>
                    <div class="row wrapper">
                      <div class="col-sm-3">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" type="button" ng-click="createCidr()">New</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                          <table class="table table-striped b-t b-light">
                            <thead>
                              <tr>
                                <th>NetAddr</th>
                                <th>StartIP</th>
                                <th>EndIP</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="cidr in selectedidc.Cidrs">
                                <td>{{cidr.Net}}</td>
                                <td>{{cidr.StartIp}}</td>
                                <td>{{cidr.EndIp}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
              </div>
              <!-- / fields -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->