<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="ReleaseServiceCtrl">
  <div class="col w b-r" ng-repeat="idx in count" ng-show="isShow(idx)">
    <div class="vbox">
      <div class="wrapper-sm b-b" ng-hide="isShow(0)">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnUpper(idx)">返回</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in services[idx] | filter:{Code:filter[idx-1]}" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectService(item,idx)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.Code}}</span>
              </a>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(services[idx] | filter:{Code:filter[idx-1]}).length" translate="content.management.no_subbus">No Service found</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->




<div class="col bg-white-only">
 <div ng-show="ConfShow()">
    <div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li class="active"><a href>任务列表</a></li>
        <li><a href>创建发布单</a></li>
        <li><a href>发布单配置</a></li>
      </ul>
    </div>
    <div class="padder">
      <div class="panel panel-default">
        <div class="panel-heading">
          任务列表
        </div>
        <div class="panel-body b-b b-light">
          Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
        </div>
        <div>
          <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
            <thead>
              <tr>
                  <th>
                      任务ID
                  </th>
                  <th>
                      创建人
                  </th>
                  <th>
                      创建时间
                  </th>
                  <th>
                      版本/Tag
                  </th>
                  <th>
                      审批状态
                  </th>
                  <th>
                    部署人
                  </th>
                  <th>
                    部署时间
                  </th>
                  <th>
                    部署状态
                  </th>
                  <th>
                    操作
                  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>123</td>
                  <td>Isidra</td>
                  <td>22 Jun 1972</td>
                  <td>12306</td>
                  <td><span class="label label-lg label-primary arrowed-in">审核通过</span></td>
                  <td>Isidra</td>
                  <td>22 Jun 1972</td>
                  <td><span class="label label-lg label-success">部署成功</span></td>
                  <td><a class="blue" title="详情"><i class="glyphicon-zoom-in glyphicon"></i></a></td>
              </tr>
              </tbody>
              <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
              </tfoot>
            </table>
          </div> 
        </div>
    </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->