<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="ReleaseServiceCtrl">
  <div class="col w b-r" ng-repeat="idx in count" ng-show="isShow(idx)">
    <div class="vbox">
      <div class="wrapper-sm b-b" ng-hide="isShow(0)">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default" ng-click="returnUpper(idx)">返回</a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a ng-repeat="item in services[idx] | filter:{Code:filter[idx-1]}" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectService(item,idx)">
                <span class="block m-l-n" ng-class="{'m-n': item.selected }">{{ item.Code}}</span>
              </a>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(services[idx] | filter:{Code:filter[idx-1]}).length" translate="content.management.no_subbus">No Service found</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->



  <!-- column -->
  <div class="col bg-white-only">
    <div class="row-row" ng-show="ConfShow()">
    </div>

  </div>


  <!-- /column -->
</div>
<!-- /hbox layout -->